CheckoutService/CheckoutService.Test/bin/
CheckoutService/CheckoutService.Test/obj/
CheckoutService/CheckoutService/obj/
CheckoutService/CheckoutService/bin/
CheckoutService/packages/
CheckoutService/.vs/
MSite/.vs/
MSite/MSite.Test/bin/
MSite/MSite.Test/obj/
MSite/MSite/bin/
MSite/MSite/obj/
MSite/packages/
