CheckoutService/CheckoutService.Test/bin/
CheckoutService/CheckoutService.Test/obj/
CheckoutService/CheckoutService/obj/
CheckoutService/CheckoutService/bin/
CheckoutService/packages/
CheckoutService/.vs/
